html{
    /* when we need to impact changes to the whole webpage add under html */
    font-family: ‘Karla’, sans-serif;
    background-color: rgb(146, 221, 238);
    /* for the smooth scroll behaviour throughgtout the page */
    scroll-behavior: smooth;
}
/* margin: 10px 15px 20px; three values for top bottom and rightleft of the margin*/
.header{
    background-color: rgb(18, 146, 243);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container a{
    color: white;
}
/* this will align the logo element in the centre even if its image or text */
.logo{
    width: 150px;
    height: 100px;
    /* center alignment “0 auto” */
    background-image: url(/assets/images/download.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
}
.navwrapper{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-around;
}
.heroWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10px;
    background-image: url(“BG.“);
    background-image: linear-gradient(rgba(218, 164, 164, 0.5),rgba(239, 205, 205, 0.5)),url(“./assets/images/BG.jpeg”);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-size: contain; */
    height: 600px;
    background-attachment: fixed;
    font-size: 30px;
}
.mainTitle{
    font-weight: bolder;
    color: dark rgb(6, 6, 71);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.subTitle{
    font-weight: 700;
    color: rgb(6, 6, 71);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.sectionheading{
    font-weight: 600;
    color: blue;
}
 p{
    padding: 20px;
 }
/* to remove the bullets from the unordered list */
.navList {
    list-style-type: none;
}
/* this is to remove the underline from the link. we need to specify “a” tag inside the class navItem to be specific which link needs to be impacted  */
.navItem a{
 text-decoration: none;
/* text-decoration: dotted red 3px; */
}
/* Add  border with radius to a button element*/
.button{
    /* border: solid 2px  red; */
    border-radius: 5px;
    /* border-style: none; */
    border: none;
    background-color: white;
    padding: 20px;
   letter-spacing: 2px;
    align-items: center;
    align-self: center;
    margin: 0,auto;
    display: block;
    padding: 10px;
    width: 150px;
    /* visibility: hidden; */
}
.maincontent{
    margin: 20px;
}
.contactswrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    .div1 { grid-area: 1 / 1 / 5 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 2 / 3 / 3; }
    .div4 { grid-area: 3 / 2 / 4 / 3; }
    .div5 { grid-area: 4 / 2 / 5 / 3; }
footer{
    color: brown;
}





    /* a : anchor tab . told the browser to take a which are in particular class.   */
/* eg <li class="navlist" ><a href="#contact">Contact</a></li>   */

/* .logo { */
/* text-shadow: 2px 3px 4px coral; */
/* you have to mention the pixel (3 times px) */
/* width: 100px; */
/* margin: 0 auto; */
/* container went into the center. we are not setting text . we are 
putting image . very uesful for everything. to move the div , not
the text. with text allignment we only move text and not container that is div.
it has div } */